@import url("https://fonts.cdnfonts.com/css/roboto");
@import url("https://fonts.cdnfonts.com/css/source-sans-pro");
@import url("https://fonts.cdnfonts.com/css/poppins");
@import url("https://fonts.cdnfonts.com/css/montserrat");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.med {
  font-family: "Source Sans Pro", sans-serif;

  text-shadow: 0 0 5px rgba(0, 4, 255, 0.5), 0 0 10px rgba(0, 4, 255, 0.5),
    0 0 15px rgba(0, 4, 255, 0.5), 0 0 20px rgba(0, 4, 255, 0.5),
    0 0 30px rgba(0, 4, 255, 0.5), 0 0 40px rgba(0, 4, 255, 0.5),
    0 0 55px rgba(0, 4, 255, 0.5), 0 0 75px rgba(0, 4, 255, 0.5);
}

@layer utilities {
  @layer utilities {
    .menu {
      @apply sm:px-10 px-5;
    }
    .titles {
      @apply text-2xl text-green-800;
    }
  }
}
